#B {
    color: rgb(255, 255, 255);
    background-color: blue;
    border-radius: 15px;
    padding: 5%;
    font-size: 200%;
    transition: background-color 0.2s, color 0.2s;
    border: none;
}

#B:hover {
    background-color: rgb(52, 73, 255);
    color: rgb(255, 255, 255);
}